/*Misc*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: white; }

i {
  text-decoration: none; }

/*Partials*/
/*HEADER*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #d498fc;
  align-items: center; }
  .navbar .nav__img {
    width: 300px;
    padding-left: 2rem; }
  .navbar .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .navbar .nav-item {
    font-size: 1.5rem;
    padding: 1.5rem;
    align-items: center; }
  .navbar .nav-link {
    color: #9e2fe9;
    padding: 1rem;
    border-radius: 10px; }
    .navbar .nav-link:hover {
      background-color: #9e2fe9;
      color: aliceblue;
      transition: 1s; }
  .navbar .iconify {
    list-style: none; }
  .navbar .btn-menu {
    display: flex;
    position: relative;
    margin-right: 300px; }

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #2f2f2f;
  height: 10vh;
  align-items: center; }
  footer .footer__info {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
    margin: 0;
    font-size: large;
    padding: 0.5rem; }
  footer .footer__logo {
    width: 7vh;
    font-size: 1.1em;
    background-attachment: fixed;
    background-color: #ddd;
    border: 3px solid #e006ce;
    border-radius: 7vh;
    box-shadow: 0 0 20px #e006ce; }

/*Pages*/
/*codigo de mati para armar un carrito!!*/
/*PRODUCTOS*/
.main__card {
  background-image: url(../../public/img/fondo-cartera.png); }

.form-control {
  width: 50%;
  margin: auto; }

.section__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
  justify-items: center;
  gap: 1rem;
  padding-bottom: 1rem; }

.card-precio {
  font-weight: 700; }

i {
  font-size: x-large;
  color: blueviolet; }

.productoCarrito {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  color: blue; }

#contador-items {
  font-size: x-large;
  color: blueviolet; }

.boton-eliminar {
  border: none; }

.fa-trash-alt:before {
  color: crimson;
  border: none; }

.btn__compra {
  background-color: lightblue;
  padding: 7px;
  border: none;
  border-radius: 5px;
  display: none; }
  .btn__compra:hover {
    border: solid 1px #112211;
    transition: 1s ease; }

html,
Main {
  height: 100%;
  background-image: url(../../public/img/fondo-cartera.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: medium;
  text-align: center; }

.logo {
  width: 250px; }

.card-body {
  background-color: #e0b8f0;
  border-radius: 5px; }

.form-signin {
  max-width: 330px;
  padding: 10px; }

.form-signin .form-floating:focus-within {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.btn {
  background-color: #d498fc;
  color: white; }

a {
  color: #9e2fe9; }
  a:hover {
    color: #7001b9; }

/*Carrito*/
main .main__card {
  background-image: url(../../public/img/fondo-cartera.png); }

.card__final {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem; }

.card-top {
  padding: 0.7rem 5rem; }

.card-top a {
  float: left;
  margin-top: 0.7rem; }

#logo {
  font-family: 'Dancing Script';
  font-weight: bold;
  font-size: 1.6rem; }

.tarjeta-cuerpo {
  background-color: lightblue;
  padding: 1rem; }

.row {
  margin: 0; }

.upper {
  padding: 1rem 0;
  justify-content: space-evenly; }

#three {
  border-radius: 1rem;
  width: 22px;
  height: 22px;
  margin-right: 3px;
  border: 1px solid blue;
  text-align: center;
  display: inline-block; }

#payment {
  margin: 0;
  color: blue; }

.icons {
  margin-left: auto; }

form span {
  color: #b3b3b3; }

form {
  padding: 2vh 0; }

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: #f7f7f7; }

.header {
  font-size: 1.5rem; }

.left {
  background-color: #ffffff;
  padding: 2vh; }

.left img {
  width: 2rem; }

.left .col-4 {
  padding-left: 0; }

.right .item {
  padding: 0.3rem 0; }

.right {
  background-color: #ffffff;
  padding: 2vh; }

.col-8 {
  padding: 0 1vh; }

.lower {
  line-height: 2; }

.btn__cancelar {
  background-color: #bd041d;
  border-color: #bd0432;
  color: white;
  width: 50;
  font-size: 0.7rem;
  margin: 1vh 0 0.5vh 0;
  padding: 0.75vh;
  border-radius: 0; }

.btn__final {
  background-color: #1704bd;
  border-color: #1704bd;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin: 4vh 0 1.5vh 0;
  padding: 1.5vh;
  border-radius: 0; }

.btn__final:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  transition: none; }

.btn__final:hover {
  color: white; }

a {
  color: black; }

a:hover {
  color: black;
  text-decoration: none; }

input[type=checkbox] {
  width: unset;
  margin-bottom: unset; }

#cvv {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center; }

/*Medias*/
/*medias*/
@media screen and (max-width: 999px) {
  .main__card {
    background-image: url(../../public/img/fondo-cartera.png); }
  .form-control {
    width: 50%;
    margin: 0 auto; }
  .section__card {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-items: center;
    gap: 1rem;
    padding: 1rem; }
  .card-img.top {
    padding: 0.5rem;
    transition: 1s ease-in-out; }
    .card-img.top:hover {
      scale: 1rem; } }

@media (max-width: 768px) {
  .card-body {
    padding: 0 1rem 1rem 1rem;
    background-image: url("https://i.imgur.com/4bg1e6u.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .card-top {
    padding: 0.7rem 1rem; } }

@media screen and (max-width: 480px) {
  /*Header*/
  .navbar {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #d498fc; }
  .navbar .nav__img {
    width: 250px; }
  .navbar .btn-menu {
    display: flex;
    margin-left: 50px;
    position: fixed;
    z-index: 1000; }
  /*FOOTER*/
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 15vh; }
  footer .footer__info {
    display: flex;
    Font-size: medium; }
  footer .footer__logo {
    width: 5vh;
    font-size: 0.5em;
    background-attachment: fixed;
    background-color: #ddd;
    border: 3px solid #e006ce;
    border-radius: 7vh;
    box-shadow: 0 0 20px #e006ce; } }
