/*Misc*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: white; }

i {
  text-decoration: none; }

/*Partials*/
/*HEADER*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #d498fc;
  align-items: center; }
  .navbar .nav__img {
    width: 300px;
    padding-left: 2rem; }
  .navbar .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .navbar .nav-item {
    font-size: 1.5rem;
    padding: 1.5rem;
    align-items: center; }
  .navbar .nav-link {
    color: #9e2fe9;
    padding: 1rem;
    border-radius: 10px; }
    .navbar .nav-link:hover {
      background-color: #9e2fe9;
      color: aliceblue;
      transition: 1s; }
  .navbar .iconify {
    list-style: none; }
  .navbar .btn-menu {
    display: flex;
    position: relative;
    margin-right: 300px; }

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #2f2f2f;
  height: 10vh;
  align-items: center; }
  footer .footer__info {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
    margin: 0;
    font-size: large;
    padding: 0.5rem; }
  footer .footer__logo {
    width: 7vh;
    font-size: 1.1em;
    background-attachment: fixed;
    background-color: #ddd;
    border: 3px solid #e006ce;
    border-radius: 7vh;
    box-shadow: 0 0 20px #e006ce; }

/*Pages*/
/*codigo de mati para armar un carrito!!*/
/*PRODUCTOS*/
.main__card {
  background-image: url(../../public/img/fondo-cartera.png); }

.form-control {
  width: 50%;
  margin: auto; }

.section__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
  justify-items: center;
  gap: 1rem;
  padding-bottom: 1rem; }

.card-precio {
  font-weight: 700; }

i {
  font-size: x-large;
  color: blueviolet; }

.productoCarrito {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  color: #48b648; }

#contador-items {
  font-size: x-large;
  color: blueviolet; }

.boton-eliminar {
  border: none; }

.fa-trash-alt:before {
  color: crimson;
  border: none; }

.btn__compra {
  background-color: #0bc20b;
  padding: 7px;
  border: none;
  border-radius: 5px;
  display: none; }
  .btn__compra:hover {
    border: solid 1px #112211;
    transition: 1s ease; }

html,
Main {
  height: 100%;
  background-image: url(../../public/img/fondo-cartera.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: medium;
  text-align: center; }

.logo {
  width: 250px; }

.card-body {
  background-color: #e0b8f0;
  border-radius: 5px; }

.form-signin {
  max-width: 330px;
  padding: 10px; }

.form-signin .form-floating:focus-within {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.btn {
  background-color: #d498fc;
  color: white; }

a {
  color: #9e2fe9; }
  a:hover {
    color: #7001b9; }

/*Carrito*/
main .main__card {
  background-image: url(../../public/img/fondo-cartera.png);
  background-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container {
  margin: 20px auto;
  width: 800px;
  padding: 30px; }

.card.box1 {
  width: 350px;
  height: 500px;
  background-color: #3ecc6d;
  color: #baf0c3;
  border-radius: 0; }

.card.box2 {
  width: 450px;
  height: 580px;
  background-color: #ffffff;
  border-radius: 0; }

.text {
  font-size: 13px; }

.box2 .btn.btn-primary.bar {
  width: 20px;
  background-color: transparent;
  border: none;
  color: #3ecc6d; }

.box2 .btn.btn-primary.bar:hover {
  color: #baf0c3; }

.box1 .btn.btn-primary {
  background-color: #57c97d;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd; }

.box1 .btn.btn-primary:hover {
  background-color: #f6f8f7;
  color: #57c97d; }

.btn.btn-success {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; }

.nav.nav-tabs {
  border: none;
  border-bottom: 2px solid #ddd; }

.nav.nav-tabs .nav-item .nav-link {
  border: none;
  color: black;
  border-bottom: 2px solid transparent;
  font-size: 14px; }

.nav.nav-tabs .nav-item .nav-link:hover {
  border-bottom: 2px solid #3ecc6d;
  color: #05cf48; }

.nav.nav-tabs .nav-item .nav-link.active {
  border: none;
  border-bottom: 2px solid #3ecc6d; }

.form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  height: 20px;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 0px;
  letter-spacing: 1.5px;
  border-radius: 0; }

.inputWithIcon {
  position: relative; }

.img__tarjeta {
  width: 50px;
  height: 20px;
  object-fit: cover; }

.inputWithIcon span {
  position: absolute;
  right: 0px;
  bottom: 9px;
  color: #57c97d;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px; }

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #ddd; }

.btn-outline-primary {
  color: black;
  background-color: #ddd;
  border: 1px solid #ddd; }

.btn-outline-primary:hover {
  background-color: #05cf48;
  border: 1px solid #ddd; }

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: #baf0c3;
  background-color: #3ecc6d;
  box-shadow: none;
  border: 1px solid #ddd; }

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n+3),
.btn-group > :not(.btn-check) + .btn {
  border-radius: 50px;
  margin-right: 20px; }

form {
  font-size: 14px; }

form .btn.btn-primary {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3ecc6d;
  border: 1px solid #ddd; }

form .btn.btn-primary:hover {
  background-color: #05cf48; }

@media (max-width: 750px) {
  .container {
    padding: 10px;
    width: 100%; }
  .text-green {
    font-size: 14px; }
  .card.box1,
  .card.box2 {
    width: 100%; }
  .nav.nav-tabs .nav-item .nav-link {
    font-size: 12px; } }

/*Medias*/
/*medias*/
@media screen and (max-width: 999px) {
  .main__card {
    background-image: url(../../public/img/fondo-cartera.png); }
  .form-control {
    width: 50%;
    margin: 0 auto; }
  .section__card {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-items: center;
    gap: 1rem;
    padding: 1rem; }
  .card-img.top {
    padding: 0.5rem;
    transition: 1s ease-in-out; }
    .card-img.top:hover {
      scale: 1rem; } }

@media screen and (max-width: 480px) {
  /*Header*/
  .navbar {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #d498fc; }
  .navbar .nav__img {
    width: 250px; }
  .navbar .btn-menu {
    display: flex;
    margin-left: 50px;
    position: fixed;
    z-index: 1000; }
  /*FOOTER*/
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 15vh; }
  footer .footer__info {
    display: flex;
    Font-size: medium; }
  footer .footer__logo {
    width: 5vh;
    font-size: 0.5em;
    background-attachment: fixed;
    background-color: #ddd;
    border: 3px solid #e006ce;
    border-radius: 7vh;
    box-shadow: 0 0 20px #e006ce; } }
