/*Misc*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: white; }

i {
  text-decoration: none; }

/*Partials*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #d498fc;
  align-items: center; }
  .navbar .nav__img {
    width: 300px;
    padding-left: 2rem; }
  .navbar .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .navbar .nav-item {
    font-size: 1.5rem;
    padding: 1.5rem;
    align-items: center; }
  .navbar .nav-link {
    color: #9e2fe9;
    padding: 1rem;
    border-radius: 10px; }
    .navbar .nav-link:hover {
      background-color: #9e2fe9;
      color: aliceblue;
      transition: 1s; }
  .navbar .iconify {
    list-style: none; }

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #2f2f2f;
  height: 10vh;
  align-items: center; }
  footer .footer__info {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
    margin: 0;
    font-size: large;
    padding: 0.5rem; }
  footer .footer__logo {
    width: 7vh;
    font-size: 1.1em;
    background-attachment: fixed;
    background-color: #ddd;
    border: 3px solid #e006ce;
    border-radius: 7vh;
    box-shadow: 0 0 20px #e006ce; }

/*Pages*/
/*codigo de mati para armar un carrito!!*/
/*PRODUCTOS*/
.main__card {
  background-image: url(../../public/img/fondo-cartera.png); }

.form-control {
  width: 50%;
  margin: auto; }

.section__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
  justify-items: center;
  gap: 1rem;
  padding-bottom: 1rem; }

.card-precio {
  font-weight: 700; }

i {
  width: 50px;
  color: blueviolet; }

html,
main {
  height: 75%;
  background-image: url(../../public/img/fondo-cartera.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: medium;
  text-align: center; }

.logo {
  width: 250px; }

.card-body {
  background-color: #e0b8f0;
  border-radius: 5px; }

.form-signin {
  max-width: 330px;
  padding: 10px; }

.form-signin .form-floating:focus-within {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.btn {
  background-color: #d498fc;
  color: white; }

a {
  color: #9e2fe9; }
  a:hover {
    color: #7001b9; }

/*Medias*/
/*medias*/
@media screen and (max-width: 999px) {
  .main__card {
    background-image: url(../../public/img/fondo-cartera.png); }
  .form-control {
    width: 50%;
    margin: auto; }
  .section__card {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-items: center;
    gap: 1rem;
    padding: 1rem; }
  .card-img.top {
    padding: 0.5rem;
    transition: 1s ease-in-out; }
    .card-img.top:hover {
      scale: 1rem; } }

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 15vh; }

footer .footer__info {
  display: flex;
  Font-size: medium; }

footer .footer__logo {
  width: 5vh;
  font-size: 0.5em;
  background-attachment: fixed;
  background-color: #ddd;
  border: 3px solid #e006ce;
  border-radius: 7vh;
  box-shadow: 0 0 20px #e006ce; }
